html {
    height: 100%;
    width: auto;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    gap: 50px;
    background-color: #14213d;
}

.container {
    border: #fca311 10px solid;
    border-style: double;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.options > *{
    font-size: 35px;
    font-family: Roboto;
    background-color: #84a98c;
    border-radius: 10px;
    box-shadow: 5px 5px #52796f;
    padding: 10px;
}